@font-face {
    font-family: 'eater';
    src: url('../fonts/Eater/Eater-Regular.ttf');
}
@font-face {
    font-family: 'Mexico';
    src: url('../fonts/Kablammo/Kablammo-Regular-VariableFont_MORF.ttf');
}
@font-face {
    font-family: 'Sofia';
    src: url('../fonts/Sofia/Sofia-Regular.ttf');
}